.MotherDiv{
	
	width: 99.5% !important;
	height: 590px !important;
}

.columnButtons{
	/*border: 2px solid #7CC4E7;
	
	height: auto;
	background-color: #A21412;*/
	width: 15% !important;
}

.contentPropeties{
	
	width: 80% !important;
	/*height: auto;
	background-color: #F8F8F8  ;
	opacity: 0.8;
	-webkit-box-shadow:0 0px 4px #ccc, 0 0 20px #D0D0D0  inset;
    -moz-box-shadow:0 0px 4px #ccc, 0 0 20px #D0D0D0  inset;
    box-shadow:0 0px 4px #ccc, 0 0 20px #D0D0D0  inset;
	
	border-radius: 20px; 
	-webkit-border-radius: 20px; 
	-moz-border-radius: 20px; 
	-o-border-radius: 20px; */
}

.MotherTable{
	width: 100% !important;
	height: 100% !important;
}

.cmdA{	
	background-color: #E8E8E8 !important;
	height: 8.6em !important;
	border-radius: 9px !important;
	-ms-border-radius: 9px !important;
	-moz-border-radius: 9px !important;
	-webkit-border-radius: 9px !important;
	-khtml-border-radius: 9px !important;
	position:relative !important;      
    -webkit-box-shadow:0 0px 4px #E0E0E0 , 0 0 20px #CCC inset !important;
    -moz-box-shadow:0 0px 4px #E0E0E0 , 0 0 20px #CCC inset !important;
    box-shadow:0 0px 4px #E0E0E0 , 0 0 20px #CCC inset !important;
    box-shadow: 5px 5px 5px #333 !important; 
	-webkit-box-shadow: 5px 5px 5px #333 !important; 
	-moz-box-shadow: 5px 5px 5px #333 !important; 
	-o-box-shadow: 5px 5px 5px #333 !important; 
}

.cmdB{
	background-color: #E8E8E8 !important;
	height: 8.6em !important;
	border-radius: 9px !important;
	-ms-border-radius: 9px !important;
	-moz-border-radius: 9px !important;
	-webkit-border-radius: 9px !important;
	-khtml-border-radius: 9px !important;
	position:relative !important;      
    -webkit-box-shadow:0 0px 4px #E0E0E0 , 0 0 20px #CCC inset !important;
    -moz-box-shadow:0 0px 4px #E0E0E0 , 0 0 20px #CCC inset !important;
    box-shadow:0 0px 4px #E0E0E0 , 0 0 20px #CCC inset !important;
    box-shadow: 5px 5px 5px #333 !important; 
	-webkit-box-shadow: 5px 5px 5px #333 !important; 
	-moz-box-shadow: 5px 5px 5px #333 !important; 
	-o-box-shadow: 5px 5px 5px #333 !important; 
}

.cmdC{
	background-color: #E8E8E8;
	height: 8.6em;
	border-radius: 9px;
	-ms-border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	-khtml-border-radius: 9px;
	position:relative;      
    -webkit-box-shadow:0 0px 4px #E0E0E0 , 0 0 20px #CCC inset;
    -moz-box-shadow:0 0px 4px #E0E0E0 , 0 0 20px #CCC inset;
    box-shadow:0 0px 4px #E0E0E0 , 0 0 20px #CCC inset;
    box-shadow: 5px 5px 5px #333; 
	-webkit-box-shadow: 5px 5px 5px #333; 
	-moz-box-shadow: 5px 5px 5px #333; 
	-o-box-shadow: 5px 5px 5px #333; 
}

.cmdD{
	background-color: #E8E8E8;
	height: 8.6em;
	border-radius: 9px;
	-ms-border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	-khtml-border-radius: 9px;
	position:relative;      
    -webkit-box-shadow:0 0px 4px #E0E0E0 , 0 0 20px #CCC inset;
    -moz-box-shadow:0 0px 4px #E0E0E0 , 0 0 20px #CCC inset;
    box-shadow:0 0px 4px #E0E0E0 , 0 0 20px #CCC inset;
    box-shadow: 5px 5px 5px #333; 
	-webkit-box-shadow: 5px 5px 5px #333; 
	-moz-box-shadow: 5px 5px 5px #333; 
	-o-box-shadow: 5px 5px 5px #333; 
}

#contentA{
	-webkit-box-shadow:0 0px 4px #ccc, 0 0 20px #D0D0D0  inset !important;  
	-moz-box-shadow:0 0px 4px #ccc, 0 0 20px #D0D0D0 inset !important; 
	box-shadow:0 0px 4px #ccc, 0 0 20px #D0D0D0  inset !important;
	border-radius: 20px !important; 
	-webkit-border-radius: 20px !important; 
	-moz-border-radius: 20px !important; 
	-o-border-radius: 20px !important;
	box-shadow: 3px 3px 4pc #535353 !important;
    -webkit-box-shadow: 3px 3px 4px #535353 !important;
    -moz-box-shadow: 3px 3px 4px #535353 !important;
    height: 36em !important;
    background-color: #f0f0f0 !important;
    width: 97.6% !important;
    margin-left: 1.5% !important;
    z-index: 1004 !important;
    position: relative !important;
    top: 13px;
}

.ContentB{
	-webkit-box-shadow:0 0px 4px #ccc, 0 0 20px #D0D0D0  inset;  
	-moz-box-shadow:0 0px 4px #ccc, 0 0 20px #D0D0D0 inset; 
	box-shadow:0 0px 4px #ccc, 0 0 20px #D0D0D0  inset;
	border-radius: 20px; 
	-webkit-border-radius: 20px; 
	-moz-border-radius: 20px; 
	-o-border-radius: 20px;
	box-shadow: 3px 3px 4pc #535353;
    -webkit-box-shadow: 3px 3px 4px #535353;
    -moz-box-shadow: 3px 3px 4px #535353;
    height: 36em;
    background-color: #f0f0f0;
    width: 78.2%;
    margin-left: 1.5%;
    z-index: 1003;
    position: absolute;
    top: 13px;
    left: 16%;
    float: left;
    opacity: 0.0;
    background-image: url('../img/ofertas.png');
    background-repeat:no-repeat;
}

.ContentC{
	-webkit-box-shadow:0 0px 4px #ccc, 0 0 20px #D0D0D0  inset;  
	-moz-box-shadow:0 0px 4px #ccc, 0 0 20px #D0D0D0 inset; 
	box-shadow:0 0px 4px #ccc, 0 0 20px #D0D0D0  inset;
	border-radius: 20px; 
	-webkit-border-radius: 20px; 
	-moz-border-radius: 20px; 
	-o-border-radius: 20px;
	box-shadow: 3px 3px 4pc #535353;
    -webkit-box-shadow: 3px 3px 4px #535353;
    -moz-box-shadow: 3px 3px 4px #535353;
    height: 36em;
    background-color: #f0f0f0;
    width: 81.2%;
    margin-left: 1.5%;
    z-index: 1003;
    position: absolute;
    top: 13px;
    left: 16%;
    float: left;
    opacity: 0.0;
    background-image: url('../img/ofertas-para-ti.png');
    background-repeat:no-repeat;
}

.ContentD{
	-webkit-box-shadow:0 0px 4px #ccc, 0 0 20px #D0D0D0  inset;  
	-moz-box-shadow:0 0px 4px #ccc, 0 0 20px #D0D0D0 inset; 
	box-shadow:0 0px 4px #ccc, 0 0 20px #D0D0D0  inset;
	border-radius: 20px; 
	-webkit-border-radius: 20px; 
	-moz-border-radius: 20px; 
	-o-border-radius: 20px;
	box-shadow: 3px 3px 4pc #535353;
    -webkit-box-shadow: 3px 3px 4px #535353;
    -moz-box-shadow: 3px 3px 4px #535353;
    background-color: #f0f0f0;
    width: 81.2%;
    margin-left: 1.5%;
    z-index: 1003;
    position: absolute;
    top: 13px;
    left: 16%;
    float: left;
    opacity: 0.0;
    background-image: url('../img/config-01.png');
    background-repeat:no-repeat;
    min-height: 36em;
}

.timeClass{
   background: url('resources/img/reloj.png');
}

.customBtn{
	border: 1px solid #fff;
   background-color: #32A6CA;
   border-radius: 10px;
   box-shadow: inset 0 1px 3px #32A6CA, inset 0 -5px 15px #DDE9FD, 0 2px 1px #fff;
   -o-box-shadow: inset 0 1px 3px #32A6CA, inset 0 -5px 15px #DDE9FD, 0 2px 1px #fff;
   -webkit-box-shadow: inset 0 1px 3px #32A6CA, inset 0 -5px 15px #DDE9FD, 0 2px 1px #fff;
   -moz-box-shadow: inset 0 1px 3px #32A6CA, inset 0 -5px 15px #DDE9FD, 0 2px 1px #fff;
   color: #000;
   text-shadow: 0 1px 1px black;
   padding: 5px 30px;
   width: 4em;
   margin-left: 1%;
   margin-bottom: 3%;
   text-align: center;
}

.timeText{
	position:absolute;
	float: left;
	margin-left: 1%;
	margin-bottom: 10%;
}

.clockImg{
	width: 15%;
	height: auto;
	position: relative;
	float: left;
}

.header{
	position: absolute;
    top: 13px;
    float: left;
}

.iconCmd{
	width: 100%;
	height: 8.6em;
}

.socialSpace{
	
	width: 15em;
	height: 3.5em;
	position: absolute;
	float:left;
	top: 25%;
	left: 65%;
}

.socialSpaceAdvice{
	
	width: 15em;
	height: 3.5em;
	position: absolute;
	float:left;
	top: 17%;
	left: 65%;
}

.socialSpaceAdvice2{
	width: 15em;
	height: 3.5em;
	position: absolute;
	float:left;
	top: 29.2%;
	left: 65%;
}

.imgLikeSocial{
	width: 100%;
	height: auto;
	
}

.shareit{
	width: 15em;
	height: 3.5em;
	position: absolute;
	float:left;
	top: 45%;
	left: 65%;
}

.socialSpaceAdvice3{
	width: 15em;
	height: 3.5em;
	position: absolute;
	float:left;
	top: 49%;
	left: 65%;
}

.socialSpaceAdvice4{
	width: 21em;
	height: 3.5em;
	position: absolute;
	float:left;
	top: 48%;
	left: 0%;
}


#registerBtn{
	width: 15em;
	height: 3.5em;
	position: absolute;
	float:left;
	top: 6em;
	left: 2%;
}

#loginBtn{
	width: 15em;
	height: 3.5em;
	position: absolute;
	float:left;
	top: 6em;
	left: 40%;
}

#headerReg{
	width: 24em;
	height: 3.5em;
	position: absolute;
	float:left;
	top: 3em;
	left: 3%;
	opacity: 0.0;
}

#labelName{
	width: 15em;
	height: 3.5em;
	position: absolute;
	float:left;
	top: 10em;
	left: 3%;
	opacity: 0.0;
}

#inputName{
	width: 17em;
	height: 3.5em;
	position: absolute;
	float:left;
	top: 10.7em;
	left: 14%;
	opacity: 0.0;
}

#labelAppellidoP{
	width: 15em;
	height: 3.5em;
	position: absolute;
	float:left;
	top: 13em;
	left: 3%;
	opacity: 0.0;
}

#inputApellidoP{
	width: 17em;
	height: 3.5em;
	position: absolute;
	float:left;
	top: 13.7em;
	left: 14%;
	opacity: 0.0;
}


#labelAppellidoM{
	width: 15em;
	height: 3.5em;
	position: absolute;
	float:left;
	top: 16em;
	left: 3%;
	opacity: 0.0;
}

#inputApellidoM{
	width: 17em;
	height: 3.5em;
	position: absolute;
	float:left;
	top: 16.7em;
	left: 14%;
	opacity: 0.0;
}

#labelMail{
	width: 15em;
	height: 3.5em;
	position: absolute;
	float:left;
	top: 19em;
	left: 3%;
	opacity: 0.0;
}

#inputMail{
	width: 17em;
	height: 3.5em;
	position: absolute;
	float:left;
	top: 19.7em;
	left: 14%;
	opacity: 0.0;
}

#labelCP{
	width: 15em;
	height: 3.5em;
	position: absolute;
	float:left;
	top: 22em;
	left: 3%;
	opacity: 0.0;
}

#inputCP{
	width: 17em;
	height: 3.5em;
	position: absolute;
	float:left;
	top: 22.7em;
	left: 14%;
	opacity: 0.0;
}

#labelPass{
	width: 15em;
	height: 3.5em;
	position: absolute;
	float:left;
	top: 25em;
	left: 3%;
	opacity: 0.0;
}

#inputPass{
	width: 12em;
	height: 3.5em;
	position: absolute;
	float:left;
	top: 25.7em;
	left: 23.5%;
	opacity: 0.0;
}

#labelReplyPass{
	width: 15em;
	height: 3.5em;
	position: absolute;
	float:left;
	top: 28em;
	left: 3%;
	opacity: 0.0;
}

#inputReplyPass{
	width: 12em;
	height: 3.5em;
	position: absolute;
	float:left;
	top: 28.7em;
	left: 23.5%;
	opacity: 0.0;
}

#submitBtn{
	width: 18em;
	height: 3.5em;
	position: absolute;
	float:left;
	top: 32em;
	left: 3%;
	opacity: 0.0;
}

